<h1>Confirm formulation for {{request.product_type}}</h1>

<script language='javascript'>
{{#if limit.item.max_units}}
  function updateQuantities(event){
    let num_units = document.getElementById('num_units').value;
    let invalid = isNaN( num_units ) || num_units < 1 || num_units > {{limit.item.max_units}} || num_units.indexOf('.') >= 0;
    if( invalid ){
      {{#if limit.warning_level }}
      document.getElementById( 'confirm_inventory' ).setAttribute("disabled", "true");
      {{else}}
      document.getElementById( 'make_run' ).setAttribute("disabled", "true");
      {{/if}}
    }else{
      console.log(document.getElementById( 'qty_requested' ), num_units );
      document.getElementById( 'qty_requested' ).value = num_units;
      {{#if limit.warning_level }}
      document.getElementById( 'confirm_inventory' ).removeAttribute("disabled");
      {{else}}
      document.getElementById( 'make_run' ).removeAttribute("disabled");
      {{/if}}
      {{#each ingredients}}
      document.getElementById('{{key}}').innerHTML = Math.floor({{amount}}*num_units*1000)/1000 + " {{units}}";
      {{/each}}
      document.getElementById('{{wpe.key}}').innerHTML = Math.floor({{wpe.amount}}*num_units*1000)/1000 + " {{wpe.units}}";
    }
  }

  function confirmInventory(){
    document.getElementById( 'confirm_inventory' ).setAttribute('disabled', "true");
    document.getElementById( 'num_units' ).setAttribute( 'disabled', "true" );
    document.getElementById( 'make_run' ).removeAttribute('disabled');
  }
{{else}}
  function advanceInventory( key ){
    let r = window.confirm();
    if( r == true ){
      document.getElementById( 'confirm_run_form' ).action = "/production/advance_inventory";
      document.getElementById( 'confirm_run_form' ).submit();
    }
  }
{{/if}}
</script>

{{#if limit.item.max_units}}
<ol><li>Input the number of units to make in this run into the table header below,</li><li>confirm quantities, if necessary ( look for red amounts in the table )</li><li>Then <strong>create the run</strong> using the button at the bottom of the page.</li></ol>

{{else}}
<p>There is not enough {{limit.item.label}} to make any product matching this formulation. You can:</p>
<input type='button' value='Advance Inventory for {{limit.item.label}}' onclick='advanceInventory("{{limit.item.key}}");'> or <input type='button' value='Make a Different Product' />
{{/if}}
<table>
  <tr>
    <th>ingredient</th>
    <th>lot number</th>
    <th>qty for {{#if limit.item.max_units}}<input type="text" id="num_units" name="num_units" size="5" value="1" oninput="updateQuantities();" />unit(s)<br><small>( max {{limit.item.max_units}} ){{else}}1 unit{{/if}}</small></th>
    <th class='extradatahead'>max units possible</th>
  </tr>
  {{#each ingredients}}
  <tr>
    <td {{#unless max_units}}class='outinv'{{else}}{{#if warning_level}}class='lowinv'{{/if}}{{/unless}}>{{label}}</td>
    <td {{#unless max_units}}class='outinv'{{else}}{{#if warning_level}}class='lowinv'{{/if}}{{/unless}}>{{lot_number}}</td>
    <td {{#unless max_units}}class='outinv' {{else}}{{#if warning_level}}class='lowinv' {{/if}}{{/unless}}id='{{key}}'>{{amount}} {{units}}</td>
    <td class='extradata {{#unless max_units}}outinv{{else}}{{#if warning_level}}lowinv{{/if}}{{/unless}}'>{{max_units}}</td>
  </tr>
  {{/each}}
  <tr>
    <td {{#unless wpe.max_units}}class='outinv'{{else}}{{#if wpe.warning_level}}class='lowinv'{{/if}}{{/unless}}>{{wpe.label}}</td>
    <td {{#unless wpe.max_units}}class='outinv'{{else}}{{#if wpe.warning_level}}class='lowinv'{{/if}}{{/unless}}>{{wpe.lot_number}}</td>
    <td {{#unless wpe.max_units}}class='outinv'{{else}}{{#if wpe.warning_level}}class='lowinv'{{/if}}{{/unless}} id='{{wpe.key}}'>{{wpe.amount}} {{wpe.units}}</td>
    <td class='extradata {{#unless wpe.max_units}}outinv{{else}}{{#if wpe.warning_level}}lowinv{{/if}}{{/unless}}'>{{wpe.max_units}}</td>
  </tr>
</table>

<form id='confirm_run_form' action='/production/create_run' method='post'>
  {{#each request}}
  <input type='hidden' name='{{@key}}' value='{{this}}' />
  {{/each}}
  <input type='hidden' name='limiting_ingredient' value='{{limit.item.key}}' />
  <input type='hidden' name='limiting_lot' value='{{limit.item.lot_number}}' />
  <input type='hidden' id='qty_requested' name='units_requested' value='1' />
  <input type='hidden' name='wpe_key' value='{{wpe.key}}' />
  {{#if limit.item.max_units}}
    {{#if limit.warning_level}}
      There are ingredients in this formulation that are below the warning stock level. Please confirm inventory on red quantities above then click <em>Inventory Confirmed</em>.
      <input id='confirm_inventory' type='button' value='Inventory Confirmed' onclick="confirmInventory();" />
    {{/if}}
    <input id='make_run' type='submit' value='Create this Run' {{#if limit.warning_level}}disabled{{/if}} />
  {{/if}}
</form>
