
<script language='javascript'>
function printRunLabel() {
    console.log("printRunLabel");
    var prtContent = document.getElementById('run_label');
    var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=600,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write("<html><head><style>@import url('/printcss_uglified.css');</style></head><body>" + prtContent.innerHTML + "</body></html>");
    WinPrint.document.close();
    myVar = setTimeout(function(){
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
      clearTimeout( myVar );
    }, 1000);
}
</script>

<h1>This run has been created!</h1>

<p>Run {{run_id}} of lot {{lot_id}} is ready to make.<br>The inventory lots and quantities to use are visible below.</p>

<input type="button" onclick="printRunLabel();" value="Print a Label for this Run" />, then visit <a href="/lots/run/{{run_id}}">the run view</a> to add notes or mark it complete.


<section id="run_label">
  <div class='important'>Lot <strong>{{lot_id}}</strong></div>
  <div class='important'>Run <strong>{{run_id}}</strong></div>
  <div class='important'>Batch <strong>{{product_batch_id}}</strong></div>
  <hr />
  <p>This run makes {{max_units}} {{request.strength}}mg strength {{product_type}}.</p>
  <table>
    <tr><th>item</th><th>lot #</th><th>amount</th></tr>
    {{#each formulation}}
    <tr><td>{{type}}</td><td>{{lot_number}}</td><td>{{total_amount}}</td></tr>
    {{/each}}
  </table>
  <hr />
  Handwrite notes below and enter them online by visiting:
  https://cgmp.ravenridgefamilyfarm.com/lots/run/{{run_id}}
  <hr />
</section>

<h2>Additional directions, if you're unsure what to do next.</h2>
<ol>
  <li>Print the label for this run ( see obvious button above ).</li>
  <li>Make the run using the lot numbers provided and amounts as indicated.</li>
  <li>Notes any deviations from the SOP on the label and online by visiting <a href="/lots/run/{{run_id}}">this runs view</a>.</li>
  <li>The <a href="/lots/run/{{run_id}}">run's view page</a> is also where you mark the run as complete<br>which puts the products into inventory.</li>
</ol>
