
<h1>Current Inventory is Below</h1>

<table>
  <th>Production Date</th>
  <th>Mechanism</th>
  <th>Lot #</th>
  <th>Inventory (g)</th>
  {{#each batches}}
    <tr>
      <td>{{production_date_vf}}</td>
      <td>{{mechanism}}</td>
      <td>{{lot_number}}</td>
      <td>{{current_mass}}</td>
    </tr>
  {{/each}}
</table>
<table>
  <tr>
    <th>Item</th>
    <th>Best By</th>
    <th>Purchased From</th>
    <th>Lot #</th>
    <th>Inventory (ml)</th>
  </tr>
{{#each inventory}}
  <tr>
    {{#each lots }}
      <td>{{../name}}</td>
      <td>{{expiration_date_vf}}</td>
      <td>{{purchased_from}}</td>
      <td>{{lot_number}}</td>
      <td>{{current_volume}}</td>
    {{/each}}
  </tr>
{{/each}}
</table>
