
<h1>Current Inventory is Below</h1>

<table>
  <tr>
    <th>Purchased From</th>
    <th>Lot #</th>
    <th>Inventory (ml)</th>
    <th>Inventory (g)</th>
    <th>Best By</th>
  </tr>
{{#each inventory}}
  <tr><td colspan='5'>{{@key}}</td></tr>
  <tr>
    {{#each lots }}
      <td>{{purchased_from}}</td>
      <td>{{lot_number}}</td>
      <td>{{current_volume}}</td>
      <td>{{current_mass}}</td>
      <td>{{expiration_date}}</td>
    {{/each}}
  </tr>
{{/each}}
</table>
