<h1>Current Inventory is Below</h1>

<h2>Extract Batches</h2>
<table>
  <th>Name</th>
  <th>Production Date</th>
  <th>Mechanism</th>
  <th>Lot #</th>
  <th>Inventory (g)</th>
  {{#each batches}}
    {{#unless retired_date}}
    <tr>
      <td><a href='/inventory/wpe/{{batch_id}}'>{{label}}</a></td>
      <td>{{production_date_vf}}</td>
      <td>{{mechanism}}</td>
      <td>{{lot_number}}</td>
      <td>{{current_mass}}</td>
    </tr>
    {{/unless}}
  {{/each}}
</table>
<h2>Ingredients</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Best By</th>
    <th>Purchased From</th>
    <th>Lot #</th>
    <th>Inventory (ml)</th>
    <th>Inventory (g)</th>
  </tr>
{{#each ingredients}}
  <tr>
      <td><a href='/inventory/{{key}}'>{{label}}</a></td>
      <td>{{expiration_date_vf}}</td>
      <td>{{purchased_from}}</td>
      <td>{{lot_number}}</td>
      <td>{{current_volume}}</td>
      <td>{{current_mass}}</td>
  </tr>
{{/each}}
</table>
