<h1>There's a lot of lots </h1>

{{#each lots}}
  <h2>{{@key}} product lots</h2>
  {{#each this}}
  <p>Lot {{lot_id}}</p>
    {{#each runs}}
    <div>{{run_id}}: on {{run_date_vf}} someone made {{units_made}} units of {{strength}}mg {{product_type}} using {{wpe.label}}</div>
    {{/each}}
  {{/each}}
{{/each}}
