<h1>Sales, most recent order first.</h1>
<p>Current and past orders show up below. Product run correlations can be set in an order's detail view reached by clicking on a specific order below.</p>
{{#if orders}}
<table><tr><th>Customer</th><th>Email</th><th>Order ID</th><th>Order Date</th><th>Items Purchased</th></tr>
{{#each orders}}
  <tr><td>{{customer_name}}</td><td>{{email}}</td><td><a href='/purchases/{{order_id}}'>Order #{{order_id}}</a></td><td>{{order_date_vf}}</td><td>
  <p><strong>{{position}} @ </strong> {{product_name}}{{#each selected_options}}, {{value}}{{/each}}</p>
</td></tr>
{{/each}}
</table>
{{else}}
<p>There are no uncorrelated orders. Try <a href='/purchases/update'>pulling orders from Shopify.</a></p>
{{/if}}
