<script language='javascript'>

var customer = "&customer_name=" + encodeURIComponent('{{line_items.[0].customer_name}}') + "&email=" + encodeURIComponent('{{line_items.[0].email}}');

function saveCorrelation( sku, position ){
  let run_id = document.getElementById(sku + "_" + position).selectedOptions[0].value;
  if( ( !run_id && confirm( "Do you mean to save this order item as uncorrelated?" ) ) || run_id ){
    let xhr = new XMLHttpRequest();
    xhr.open('POST', '/purchases/correlate/{{line_items.[0].order_id}}');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.onload = function() {
      if (xhr.status === 200) {
          let result = JSON.parse( xhr.responseText );
          if( result.success ){
            alert("It is recorded that {{line_items.[0].customer_name}} has received product from run " + run_id + ".");
          }else{
            alert(result.message);
          }
      }
      else if (xhr.status !== 200) {
          alert('Request failed.  Returned status of ' + xhr.status);
      }
    };
    let str = "origin={{line_items.[0].origin}}&run_id=" + run_id + "&product_sku=" + sku + "&position=" + position + customer;
    xhr.send(str);
  }
}

</script>


<a href='/purchases/list'>Return to purchases list.</a>
<h1>This is {{line_items.[0].origin}} order #{{line_items.[0].order_id}}.</h1>
  <p>Order details are below.</p>
  {{line_items.[0].customer_name}}</a> - {{line_items.[0].email}}<br />
  Ordered on {{line_items.[0].order_date_vf}}.<br />
  Items:<br />
  <table><tr><th>Item</th><th>Options</th><th>Product Run Pulled</th></tr>
  {{#each line_items}}
  <tr>
      <td>{{product_name}}</td>
      <td>{{selected_options}}</td>
      <td><select id='{{product_sku}}_{{position}}'><option value=''>Not yet correlated</option>{{{runOptions runs run_id}}}</select>
        <input type='button' value='Save' onclick="saveCorrelation('{{product_sku}}', '{{position}}');" />
      </td>
    </tr>
  {{/each}}
  </table>
