<h1>Click on a run below</h1>

{{#unless run_count}}<p>Looks like you haven't made any runs yet. Congratulations ... and when you do make one, you'll see it here!</p>{{/unless}}

{{#each runs}}
  <h2>Production {{@key}} runs:</h2>
  <table><tr><th>Run Id</th><th>Run Date</th><th>Units Made</th><th>Strength</th><th>WPE Batch</th></tr>
  {{#each this}}
  <tr><td><a href='/runs/{{run_id}}'>{{run_id}}</a></td><td>{{run_date_vf}}</td><td>{{units_made}}</td><td>{{strength}}mg</td><td>{{wpe.label}}</td></tr>
  {{/each}}
  </table>
{{/each}}
