<h1>Create a production run of {{product_type.label}}</h1>
<p>
  Making {{product_type.label}} is a two step process.
  <ul>
    <li>First select the formulation for this run from the options below.</li>
    <li>Then, press <em>Calculate Ingredients</em>.</li>
  </ul>
  <strong>You will have a chance to confirm the quantities before finalizing the run.</strong>
</p>

<form action='/production/calculate_ingredients' method='post'>
  <legend>Select your formulation</legend>
  <input type='hidden' name='product_type' value='{{product_type.key}}' />
  <fieldset>
    <legend>Strength</legend>
    {{#each options.strength}}
    <input type='radio' id="s{{@index}}" name='strength' value='{{key}}' {{#unless @index}}checked{{/unless}} />
    <label for="s1">{{label}}</label>
    {{/each}}
  </fieldset>
  <fieldset>
    <legend>Essential Oils</legend>
    {{#each options.scent}}
    <input type='radio' id="f{{@index}}" name='scent' value='{{key}}'{{#unless @index}}checked{{/unless}} />
    <label for="f{{@index}}">{{label}}</label>
    {{/each}}
  </fieldset>
  <input type="submit" value="Calculate Ingredients"></input>
</form>
