<h1>Here we get to view a run</h1>

Run {{run_id}} made {{units_made}} units of {{product_type}} at {{strength}}mg strength on {{run_date_vf}}.
<hr />
<div class='important'>Run <strong>{{run_id}}</strong></div>
<div class='important'>Batch <strong>{{batch_id}}</strong></div>
<hr />

<table>
  <tr><th>item</th><th>lot #</th><th>amount</th></tr>
  {{#each ingredients}}
  <tr><td>{{label}}</td><td>{{lot_number}}</td><td>{{total_amount}} {{units}}</td></tr>
  {{/each}}
  <tr><td>{{wpe.label}}</td><td>{{wpe.lot_number}}</td><td>{{wpe.total_amount}} {{wpe.units}}</td></tr>
</table>

<p>Here we need to manage workflow including add notes and mark as completed.</p>
